In [7]:
import numpy as np
import pandas as pd

In [8]:
rolls = np.random.choice([1,2,3,4,5,6], size=(10_001, 3))

In [9]:
rolls

array([[1, 4, 6],
       [2, 2, 1],
       [4, 2, 6],
       ...,
       [1, 5, 4],
       [2, 1, 6],
       [5, 2, 5]])

In [10]:
((rolls == 3).sum(axis=1) >= 1).mean()

0.4253574642535746

In [14]:
df = pd.DataFrame(rolls)

In [15]:
def contains_a_3(rolls: pd.Series) -> bool:
    return 3 in rolls.values
    
assert contains_a_3(pd.Series([1,2,3])) == True
assert contains_a_3(pd.Series([1,2,4])) == False

In [16]:
df

       0  1  2
0      1  4  6
1      2  2  1
2      4  2  6
3      2  2  1
4      5  6  5
...   .. .. ..
9996   3  4  4
9997   4  6  6
9998   1  5  4
9999   2  1  6
10000  5  2  5

[10001 rows x 3 columns]

In [18]:
df.apply(contains_a_3, axis = 1).mean()

0.4253574642535746